<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asxb.bookstore.mapper.BookMapper">

    <resultMap id="categoryMap" type="category">
        <id property="id" column="book_category_id"/>
        <result property="categoryName" column="book_category_name"/>
    </resultMap>

    <select id="findAllCategory" resultMap="categoryMap">
        select * from t_book_category
    </select>
</mapper>