<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asxb.bookstore.mapper.BookMapper">

    <resultMap id="categoryMap" type="category">
        <id property="id" column="book_category_id"/>
        <result property="categoryName" column="book_category_name"/>
    </resultMap>

    <resultMap id="bookMap" type="book">
        <id column="book_id" property="bookId" jdbcType="BIGINT" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_name_pinyin" property="namePinyin" jdbcType="VARCHAR" />
        <result column="book_category_id" property="categoryId" jdbcType="BIGINT" />
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
        <result column="book_price" property="bookPrice" jdbcType="FLOAT" />
        <result column="book_image" property="bookImage" jdbcType="VARCHAR" />
        <result column="publishing" property="publishing" jdbcType="VARCHAR" />
        <result column="book_desc" property="bookDesc" jdbcType="VARCHAR" />
        <result column="book_state" property="bookState" jdbcType="INTEGER" />
        <result column="deploy_datetime" property="deployDatetime" jdbcType="DATE" />
        <result column="sales_volume" property="salesVolume" jdbcType="INTEGER" />
    </resultMap>


    <select id="findAllCategory" resultMap="categoryMap">
        select * from t_book_category
    </select>

    <insert id="addBook" parameterType="book">
        insert into t_book
        (book_name, book_name_pinyin, book_category_id, book_author, book_price, publishing, book_desc, deploy_datetime)
        VALUES
        (#{bookName}, #{namePinyin}, #{categoryId}, #{bookAuthor}, #{bookPrice}, #{publishing}, #{bookDesc}, #{deployDatetime})
    </insert>

    <select id="findBooks" parameterType="com.asxb.bookstore.common.BookCustom" resultMap="bookMap">
        select * from t_book
        <include refid="selectByCustom"></include>
        limit #{pageNum}, #{size}
    </select>

    <select id="totalBooks" parameterType="com.asxb.bookstore.common.BookCustom" resultType="BigDecimal">
        select count(1) from t_book
        <include refid="selectByCustom"></include>
    </select>

<!-- 使用bookCustom对象的公共sql   -->
    <sql id="selectByCustom">
        <where>
            <if test="bookState != null">
                and book_state = #{bookState}
            </if>
            <if test="searchText != null">
                and (book_name like '%${searchText}%' or publishing like '%${searchText}%' or book_author like '%${searchText}%' or book_desc like '%${searchText}%')
            </if>
            <if test="categoryId != null">
                and book_category_id = #{categoryId}
            </if>
        </where>
        <if test="sortField != null">
            <if test="sortType != null">
                order by ${sortField} ${sortType}
            </if>
        </if>
    </sql>
</mapper>