<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>飞凡网上书店</title>


    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>

<body>
<!--top-->
<div id="top_div" th:replace="common_page/top :: mytop">
</div>

<div id="header_div" th:replace="common_page/header_search :: search_div">
</div>

<!--nav-->
<div id="nav">
    <ul id="menu"></ul>
</div>
<!--end nav-->

<!--end top-->

<!--content-->
<div class="w960 mt10">
    <div class="breadcrumb"></div>
</div>

<div class="w960">
    <div class="side left" th:replace="common_page/side_left :: my_order">
    </div>

    <div class="w740 right">
        <div th:unless="${#request.getAttribute('msg') == null}" style="width: 100%; text-align: center">
            <p th:text="${#request.getAttribute('msg')}" style="color: red; font-size: 20px;"></p>
        </div>
    </div>
    <div class="fixed"></div>
</div>
<!--end content-->

<!--footer-->
<!-- 引用公共页面 -->
<div id="footer_wrap" th:replace="common_page/footer :: myfooter">
</div>
<!--end footer-->
</body>
</html>
