<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>飞凡网上书店</title>


    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>

<body>
<!--top-->
<div id="top_div" th:replace="common_page/admin_top :: admin_top">
</div>


<div id="header_div">
    <div id="search">
        <!--form的id与下面文本框的id不能修改，因为使用了id选择器定义样式-->
        <form name="bookForm" id="form" method="post" action="#">
            <table width="413" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <input type="text" name="" value="" id="input">
                    </td>
                    <td>
                        <input type="image" name="imageField" src="images/btn_search.png"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--nav-->
<div id="nav">
    <ul id="menu"></ul>
</div>
<!--end nav-->

<!--end top-->

<!--content-->
<div class="w960 mt10">
    <div class="breadcrumb"></div>
</div>

<div class="w960">
    <div th:replace="common_page/side_left :: manage_left">
    </div>
    <div class="w740 right">
        <div class="o-mt">
            <h2>书籍修改</h2>
        </div>
        <div class="order02 pb10">
            <form name="bookForm" method="post">
                <table width="738" align="center" cellpadding="0" cellspacing="0">
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">书名
                        </td>
                        <td width="80%" align="left" class="bd1 pl9">
                            <input type="text" name="" value="" id="" class="input w300"><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">类别
                        </td>
                        <td width="80%" align="left" class="bd1 pl9">

                            <select name="" id="" style="width:305px;">
                                <option value="">--请选择--</option>
                                <option value="1">文艺</option>
                                <option value="2">小说</option>
                                <option value="3">青春</option>
                            </select><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">作者
                        </td>
                        <td width="80%" align="left" class="bd1 pl9">
                            <input type="text" name="" value="" id="" class="input w300"><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">价格
                        </td>
                        <td width="80%" align="left" class="bd1 pl9">
                            <input type="text" name="" value="" id="" class="input w300"><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">出版社
                        </td>
                        <td width="80%" align="left" class="bd1 pl9">
                            <input type="text" name="" value="" id="" class="input w300"><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="bd2">
                        <th width="20%" align="center" class="bd2">简介
                        </td>
                        <td width="80%" align="left" class="bd1 pl9" rowspan="3">
                            <textarea name="" rows="6" id="" class="w300"></textarea><span class="required">*</span>
                        </td>
                    </tr>
                    <tr class="">
                        <th width="20%" align="center" class="bd2">
                        </td>
                    </tr>
                    <tr class="">
                        <th width="20%" align="center" class="bd2">
                        </td>
                    </tr>
                </table>

                <table width="738" border="0" cellspacing="0" cellpadding="0" class="mt10" align="center">
                    <tr>
                        <td width="20%" align="center" class="bd2"></td>
                        <td width="80%" align="left" class="pl9">
                            <input type="submit" value="确定" class="btn"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="fixed"></div>
</div>
<!--end content-->

<!--footer-->
<!-- 引用公共页面 -->
<div id="footer_wrap" th:replace="common_page/footer :: myfooter">
</div>
<!--end footer-->
</body>
</html>

