<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>飞凡网上书店</title>


    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/goto_page.js}"></script>
</head>

<body>
<!--top-->
<div id="top_div" th:replace="common_page/admin_top :: admin_top">
</div>

<div id="header_div" th:replace="common_page/header_search :: search_div">
</div>

<!--nav-->
<div id="nav">
    <ul id="menu"></ul>
</div>
<!--end nav-->

<!--end top-->

<!--content-->
<div class="w960 mt10">
    <div class="breadcrumb"></div>
</div>

<div class="w960">
    <div th:replace="common_page/side_left :: manage_left">
    </div>
    <div class="w740 right">
        <div class="o-mt">
            <h2>未发货订单</h2>
        </div>
        <div class="order01">
            <form name="" method="post" action="">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="15%" align="right">收货人电话：</td>
                        <td width="15%">
                            <input type="text" name="" value="" class="w110 input">
                        </td>
                        <td width="15%" align="right"></td>
                        <td width="15%">
                            <input type="image" name="imageField2" src="images/btn_cx.png"/>
                        </td>
                        <td width="15%" align="right"></td>
                        <td width="25%"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="order02">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="10%" class="bd2">下单日期</th>
                    <th width="15%" class="bd2">收货人</th>
                    <th width="15%" class="bd2">收货人电话</th>
                    <th width="15%" class="bd2">收货人邮编</th>
                    <th width="15%" class="bd2">收货人地址</th>
                    <th width="10%" class="bd2">发货方式</th>
                    <th width="10%" class="bd2">订单总价</th>
                    <th width="10%" class="bd2">操作</th>
                </tr>

                <tr th:if="${info.getCode() == 200}" th:each="order : ${info.getData()}">
                    <td width="10%" class="text" th:text="${#dates.format(order.getOrderDatetime(), 'yyyy-MM-dd')}">
                        2014-11-27
                    </td>
                    <td width="15%" class="text" th:text="${order.getConsignee()}">张三</td>
                    <td width="15%" class="text" th:text="${order.getPhone()}">13312345678</td>
                    <td width="15%" class="text" th:text="${order.getPostalcode()}">021</td>
                    <td width="15%" class="text" th:text="${order.getAddress()}">北京</td>
                    <td width="10%" class="text" th:text="${order.getSendType()==1?'平邮':'快递'}">
                        平邮
                    </td>
                    <td width="10%" class="text" th:text="${order.getOrderPrice()}">￥53.30</td>
                    <td width="10%" class="text">
                        <a th:href="'orderSend?orderId=' + ${order.getOrderId()}">发货</a>
                    </td>
                </tr>
            </table>
        </div>

        <!-- page -->
        <div style="text-align: right;">
            每页 5 行 共 <span th:text="${total}">1</span> 行
            第 <span th:text="${page}">1</span> 页 共 <span id="max_page" th:text="${size}">1</span> 页
            <a th:href="'/listOrder1?pageNum=1&size=5'">首页</a>
            <a th:if="${page != 1}" th:href="'/listOrder1?pageNum=' + ${page - 1} + '&size=5'">上一页</a>
            <a th:if="${page != size}" th:href="'/listOrder1?pageNum=' + ${page + 1} + '&size=5'">下一页</a>
            <a th:href="'/listOrder1?pageNum=' + ${size} + '&size=5'">尾页</a>
            页数 <input type='text' id='pageNumber' style='width:20px;'/>
            <a onclick="go_page('listOrder1')">GO</a>
        </div>
        <!-- end page -->
    </div>
    <div class="fixed"></div>
</div>
<!--end content-->

<!--footer-->
<!-- 引用公共页面 -->
<div id="footer_wrap" th:replace="common_page/footer :: myfooter">
</div>
<!--end footer-->
</body>
</html>
