<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>飞凡网上书店</title>


    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

</head>

<body>
<!--top-->
<div id="top_div" th:replace="common_page/top :: mytop">
</div>

<div id="header_div" th:replace="common_page/header_search :: search_div">
</div>

<!--nav-->
<div id="nav">
    <ul id="menu"></ul>
</div>
<!--end nav-->

<!--end top-->

<!--content-->
<div class="logoin_wrap mt30">
    <h2>用户注册</h2>
    <div id="table">
        <form th:action="'/registerAction'" th:method="post">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="30px"></td>
                </tr>
            </table>
            <table width="100%" height="35" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="44%" align="right" valign="middle" class="f14">用户名：</td>
                    <td width="56%" align="left" valign="middle">
                        <input type="text" class="input w180" name="userName">
                    </td>
                    <div th:unless="${info == null}" style="width: 100%; text-align: center">
                        <p th:text="${info.getMsg()}" style="color: red; font-size: 20px;"></p>
                    </div>

                </tr>
            </table>
            <table width="100%" height="35" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="44%" align="right" valign="middle" class="f14">密&nbsp;&nbsp;码：</td>
                    <td width="56%" align="left" valign="middle">
                        <input type="password" class="input w180" name="password">
                    </td>
                </tr>
            </table>

            <table width="100%" height="35" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="44%" align="right" valign="middle" class="f14"></td>
                    <td width="56%" align="left" valign="middle">
                        <!-- 图片按钮，与type=submit按钮的效果是一样，也可以用来提交表单 -->
                        <input type="image" src="images/admin_zc.png"/>
                    </td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--end content-->

<!--footer-->
<!-- 引用公共页面 -->
<div id="footer_wrap" th:replace="common_page/footer :: myfooter">
</div>

</body>
</html>
