<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>飞凡网上书店</title>


    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
</head>

<body>
<!--top-->
<div id="top_div" th:replace="common_page/top :: mytop">
</div>

<div id="header_div" th:replace="common_page/header_search :: search_div">
</div>

<!--nav-->
<div id="nav">
    <ul id="menu"></ul>
</div>
<!--end nav-->

<!--end top-->

<!--con-->
<div class="w960 mt10">
    <div class="side left">


        <h3>图书分类</h3>
        <ul class="classify bgf7e4e4 bdf7e4e4" th:if="${categories != null}" th:each="category : ${categories}">

            <li><a th:href="'findBook?id=' + ${category.getId()}"
                   th:text="${category.getCategoryName()}">文艺</a></li>

            <div class="fixed"></div>
        </ul>
        <ul class="classify bgf7e4e4 bdf7e4e4" th:unless="${categories != null}">

            <li><a href="#">文艺</a></li>

            <li><a href="#">小说</a></li>

            <li><a href="#">青春</a></li>

            <li><a href="#">童书</a></li>

            <li><a href="#">励志/成功</a></li>

            <li><a href="#">生活</a></li>

            <li><a href="#">人文社科</a></li>

            <li><a href="#">经管</a></li>

            <li><a href="#">科技</a></li>

            <li><a href="#">教育</a></li>

            <li><a href="#">工具书</a></li>

            <li><a href="#">期刊</a></li>

            <div class="fixed"></div>
        </ul>

    </div>
    <div class="w740 right">
        <div class="order02">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="20%" class="bd2">书名</th>
                    <th width="20%" class="bd2">单价</th>
                    <th width="20%" class="bd2">数量</th>
                    <th width="20%" class="bd2">小计</th>
                    <th width="20%" class="bd2">操作</th>
                </tr>


                <tr th:each="item : ${items}">
                    <td width="20%" class="text" th:text="${item.getBookName()}"></td>
                    <td width="20%" class="text" th:text="${item.getPrice()}"></td>
                    <td width="20%" class="text">
                        <input class="input" style="width: 50px;text-align: center;" type="text"
                               th:name="${item.getOderItemId()}" th:value="${item.getQuantity()}">
                    </td>
                    <td width="20%" class="text" th:text="${item.getTotalPrice()}"></td>

                    <td width="20%" class="text">
                        <a th:href="'deleteItem?id=' + ${item.getOderItemId()}">删除</a>
                        <a href="#" class="update">更新</a>
                    </td>
                </tr>


            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bd2">
                <tr bgcolor="#fefcea">
                    <td width="80%" align="right"><strong>订单总价：</strong></td>
                    <td width="20%" align="left"><strong><span class="STYLE1" th:text="${sum}">53.30</span></strong>
                    </td>
                </tr>
            </table>
            <table width="738" border="0" cellspacing="0" cellpadding="0" class="mt10">
                <tr>
                    <td width="5%" align="center"></td>
                    <td width="30%" align="center">
                        <a th:href="'clearShoppingCar'"><img src="images/btn_shoppingcart.png"/></a>
                    </td>
                    <td width="30%" align="center">
                        <a th:href="'findBook'"><img src="images/btn_jxgm.png"/></a>
                    </td>
                    <td width="30%" align="center">
                        <a th:href="'addOrder?price=' + ${sum}"><img src="images/btn_accounts.png"/></a>
                    </td>
                    <td width="5%"></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="fixed"></div>
</div>
<!--end con-->

<!--footer-->
<!-- 引用公共页面 -->
<div id="footer_wrap" th:replace="common_page/footer :: myfooter">
</div>
<!--end footer-->
</body>
<script>

    $(".input").change(function () {
        var amount = $(this).val();
        var item_id = $(this).attr("name");

        console.log(amount);
        console.log(item_id);
        $(this).parent("td").next().next().find(".update").attr("href", "/changeItemQuantity?id=" + item_id + "&amount=" + amount);

    });

</script>
</html>
