<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="side left" th:fragment="manage_left">
    <!--nav-->
    <h4>书籍管理</h4>
    <ul class="classify E6">
        <li>&nbsp;&nbsp;<a th:href="addBook">新&nbsp;&nbsp;增</a></li>
        <li>&nbsp;&nbsp;<a th:href="listBook1">未上架</a></li>
        <li>&nbsp;&nbsp;<a th:href="listBook2">已上架</a></li>
        <li>&nbsp;&nbsp;<a th:href="listBook3">已下架</a></li>
        <div class="fixed"></div>
    </ul>
    <h4>订单管理</h4>
    <ul class="classify E6">
        <li>&nbsp;&nbsp;<a th:href="listOrder1">未发货</a></li>
        <li>&nbsp;&nbsp;<a th:href="listOrder2">已发货</a></li>
        <li>&nbsp;&nbsp;<a th:href="listOrder3">已签收</a></li>
        <div class="fixed"></div>
    </ul>
    <!--end nav-->
</div>

<div class="side left" th:fragment="my_order">
    <!--nav-->
    <h4>我的订单</h4>
    <ul class="classify E6">
        <li>&nbsp;&nbsp;<a th:href="'listMyOrder1'">未发货</a></li>
        <li>&nbsp;&nbsp;<a th:href="'listMyOrder2'">已发货</a></li>
        <li>&nbsp;&nbsp;<a th:href="'listMyOrder3'">已签收</a></li>
        <div class="fixed"></div>
    </ul>
    <!--end nav-->
</div>
</html>
